In [ ]:
import pandas as pd
import requests

In [ ]:
def extract_restaurant_and_market_items(city_data):
    items = []
    for item in city_data.get("prices", []):
        if item.get("category_name") in ("Restaurants", "Markets"):
            items.append({
                "item_name": item.get("item_name"),
                "category": item.get("category_name"),
                "min": item.get("min"),
                "avg": item.get("avg"),
                "max": item.get("max"),
                "currency": item.get("currency_code"),
                "usd_min": item.get("usd", {}).get("min"),
                "usd_avg": item.get("usd", {}).get("avg"),
                "usd_max": item.get("usd", {}).get("max"),
            })
    return items

In [ ]:
API_URL = "https://cost-of-living-and-prices.p.rapidapi.com/prices"

headers = {
    "x-rapidapi-key": "8ac6d68495msh8602e0bc8f6b94dp1531adjsnf1227f873f48",
    "x-rapidapi-host": "cost-of-living-and-prices.p.rapidapi.com"
}

CITIES = [
    ("Vancouver", "Canada"),
    ("Rome", "Italy"),
    ("Barcelona", "Spain"),
    ("Amsterdam", "Netherlands"),
    ("Prague", "Czech Republic")
]

results = []


for i, (city, country) in enumerate(CITIES, start=1):
    
    params = {"city_name": city, "country_name": country}
    response = requests.get(API_URL, headers=headers, params=params)
    data = response.json()

    items = extract_restaurant_and_market_items(data)

    for it in items:
        results.append({
            "city": city,
            "country": country,
            **it
        })

df = pd.DataFrame(results)

csv_file = "restaurant_market_prices2.csv"

with open(csv_file, "w", newline="", encoding="utf-8") as f:
    writer = csv.writer(f)
    writer.writerow([
        "City", "Country", "Category", "Item Name",
        "Min Local", "Avg Local", "Max Local",
        "Currency", "Min USD", "Avg USD", "Max USD"
    ])

    for row in results:
        writer.writerow([
            row["city"], row["country"], row["category"], row["item_name"],
            row["min"], row["avg"], row["max"],
            row["currency"], row["usd_min"], row["usd_avg"], row["usd_max"]
        ])

print("DONE! Saved to restaurant_market_prices2.csv")

#repeat this for the rest of the list

In [ ]:
csv_files = [
    "restaurant_market_prices1.csv",
    "restaurant_market_prices2.csv",
    "restaurant_market_prices3.csv",
    "restaurant_market_prices4.csv",
    "restaurant_market_prices5.csv",
    "restaurant_market_prices6.csv",
    "restaurant_market_prices7.csv",
    "frestaurant_market_prices8.csv",
    "restaurant_market_prices9.csv",
    "restaurant_market_prices10.csv"
]

# Read all CSVs into DataFrames and merge
merged_df = pd.concat([pd.read_csv(f) for f in csv_files], ignore_index=True)

merged_df.to_csv("prices.csv", index=False)

print("Merged CSV saved! Shape:", merged_df.shape)

In [ ]:
cities_avgsal = """City,Country,Net Salary (After Tax)
Zurich,Switzerland,8181.35
Geneva,Switzerland,7496.77
Copenhagen,Denmark,4752.58
Oslo,Norway,3893.72
Gothenburg,Sweden,3849.44
Stockholm,Sweden,3592.18
Vienna,Austria,3740.54
Berlin,Germany,3696.35
Munich,Germany,4590.39
Frankfurt,Germany,4561.02
Hamburg,Germany,3962.09
Cologne,Germany,3447.69
Dusseldorf,Germany,3920.07
Stuttgart,Germany,3844.28
Helsinki,Finland,3423.99
Paris,France,3937.62
Lyon,France,3209.04
Toulouse,France,2840.27
Madrid,Spain,2694.59
Valencia,Spain,2445.32
Seville,Spain,1889.28
Lisbon,Portugal,1507.04
Porto,Portugal,1427.46
Braga,Portugal,1282.90
Coimbra,Portugal,1428.15
Athens,Greece,1252.33
Thessaloniki,Greece,1132.27
Warsaw,Poland,2180.63
Krakow,Poland,1958.99
Wroclaw,Poland,1730.38
Poznan,Poland,1857.94
Gdansk,Poland,1826.25
Lodz,Poland,1632.98
Szczecin,Poland,1661.45
Katowice,Poland,1627.79
Lublin,Poland,1481.23
Budapest,Hungary,1621.29
Debrecen,Hungary,1177.69
Pecs,Hungary,961.07
Brno,Czech Republic,1849.96
Ostrava,Czech Republic,1673.83
Plzen,Czech Republic,1929.14
Olomouc,Czech Republic,1603.46
Brussels,Belgium,3552.38
Antwerp,Belgium,3036.74
Rotterdam,Netherlands,3912.08
The Hague,Netherlands,4596.37
Utrecht,Netherlands,4266.36
Eindhoven,Netherlands,4017.97
Maastricht,Netherlands,3439.83
Groningen,Netherlands,3040.86
Nijmegen,Netherlands,3205.23
Singapore,Singapore,4595.33
Dubai,United Arab Emirates,4161.27
Hong Kong,Hong Kong (China),3580.88
Seoul,South Korea,3166.44
Tokyo,Japan,2541.64
Shanghai,China,1555.70
Beijing,China,1425.93
Guangzhou,China,1401.36
Shenzhen,China,1616.76
Kuala Lumpur,Malaysia,1347.59
Bangkok,Thailand,815.89
Jakarta,Indonesia,476.53
Istanbul,Turkey,1052.51
Melbourne,Australia,4257.51
Brisbane,Australia,3941.48
Sydney,Australia,3831.96
Perth,Australia,3762.67
Canberra,Australia,3613.53
Adelaide,Australia,3357.57
Auckland,New Zealand,3145.01
Wellington,New Zealand,3113.81
Christchurch,New Zealand,2537.36
San Francisco,United States,7208.69
Seattle,United States,6551.45
Washington, United States,6105.96
Boston,United States,6085.25
San Jose,United States,5758.70
San Diego,United States,5432.04
Atlanta,United States,5115.83
Denver,United States,4939.31
Austin,United States,4911.67
Dallas,United States,4677.20
Houston,United States,4492.80
Philadelphia,United States,4246.62
Miami,United States,4094.46
Las Vegas,United States,4018.19
Phoenix,United States,4106.37
Ottawa,Canada,3717.67
Montreal,Canada,2971.28
Calgary,Canada,3035.67
Edmonton,Canada,2875.53
Winnipeg,Canada,2613.42
Santiago,Chile,848.58
Sao Paulo,Brazil,802.26
Buenos Aires,Argentina,783.86
Lima,Peru,629.81
Bogota,Colombia,435.19
Rio de Janeiro,Brazil,474.02
New York,United States,5506.53
Los Angeles,United States,4221.12
Chicago,United States,5199.91
Toronto,Canada,3459.70
Vancouver,Canada,3368.73
London,United Kingdom,4729.62
Rome,Italy,2235.51
Barcelona,Spain,2305.11
Amsterdam,Netherlands,4865.93
Prague,Czech Republic,2313.69"""

with open("cities_avgsal.csv", "w") as f:
    f.write(cities_avgsal)

print("CSV created!")