# Coffee Affordability Across Cities

This notebook presents the final results of the project on coffee affordability.
All exploratory analysis, data checks, and intermediate steps are documented
in the helper notebook `analysis.ipynb`.

The goal here is to provide a clear, concise overview of the key metrics,
visualizations, and conclusions.

In [1]:
import pandas as pd
from IPython.display import Image, display

In [2]:
final_results = pd.read_csv("outputs/final_city_coffee_metrics.csv")
top_cities = pd.read_csv("outputs/top_cities_student_score.csv")
country_affordability = pd.read_csv("outputs/country_affordability.csv")

## City-level coffee affordability metrics

The table below summarizes the main coffee affordability metrics
computed for each city, including income-based affordability,
relative coffee prices, and the Coffee Survival Index.

In [3]:
final_results.head(10)

,City,Country,coffee_price_usd,monthly_net_salary,daily_income_usd,coffee_affordability,restaurant_avg_usd,market_avg_usd,general_price_index,coffee_relative_price,coffee_survival_days_30,relative_cost_of_living,student_score
0,London,United Kingdom,3.94,4729.62,157.654000,0.024991,18.191429,4.3310,11.261214,0.349873,7.614213,0.559950,0.229448
1,New York,United States,4.82,5506.53,183.551000,0.026260,21.795714,6.4595,14.127607,0.341176,6.224066,0.702478,0.255978
2,Los Angeles,United States,4.69,4221.12,140.704000,0.033332,17.912857,5.3405,11.626679,0.403383,6.396588,0.578122,0.253305
3,Chicago,United States,4.26,5199.91,173.330333,0.024577,16.318571,4.9810,10.649786,0.400008,7.042254,0.529547,0.238201
4,Toronto,Canada,3.21,3459.70,115.323333,0.027835,14.767143,4.3165,9.541821,0.336414,9.345794,0.474455,0.209733
5,Vancouver,Canada,3.18,3368.73,112.291000,0.028319,13.447143,4.9175,9.182321,0.346318,9.433962,0.456580,0.209371
6,Rome,Italy,1.56,2235.51,74.517000,0.020935,16.565714,4.5225,10.544107,0.147950,19.230769,0.524293,0.159711
7,Barcelona,Spain,2.20,2305.11,76.837000,0.028632,13.764286,3.6105,8.687393,0.253241,13.636364,0.431970,0.176682
8,Amsterdam,Netherlands,4.03,4865.93,162.197667,0.024846,20.138571,4.4910,12.314786,0.327249,7.444169,0.612338,0.233065
9,Prague,Czech Republic,2.69,2313.69,77.123000,0.034879,8.812857,3.1365,5.974679,0.450233,11.152416,0.297084,0.211926

The complete table with all cities is saved in
`outputs/final_city_coffee_metrics.csv`.

## Top cities for caffeine-addicted students

To translate the analysis into a practical outcome, cities are ranked
using a composite student score that combines coffee affordability,
relative coffee prices, and restaurant cost levels.
Lower scores indicate more favorable conditions for students.

In [4]:
top_cities.head(10)

,City,Country,student_score,coffee_affordability,coffee_relative_price,relative_cost_of_living
0,Debrecen,Hungary,0.148502,0.032097,0.304214,0.205947
1,Budapest,Hungary,0.153545,0.027386,0.305675,0.240750
2,Coimbra,Portugal,0.154111,0.033190,0.241598,0.325183
3,Braga,Portugal,0.154286,0.035544,0.264667,0.285567
4,Seville,Spain,0.157626,0.027153,0.270969,0.313791
5,Rome,Italy,0.159711,0.020935,0.147950,0.524293
6,Porto,Portugal,0.168530,0.038250,0.289918,0.312148
7,Valencia,Spain,0.170634,0.025027,0.306259,0.331212
8,Lisbon,Portugal,0.176178,0.039415,0.309503,0.318101
9,Barcelona,Spain,0.176682,0.028632,0.253241,0.431970

The full city ranking is available in
`outputs/top_cities_student_score.csv`.

## Coffee affordability and income

The figure below shows the relationship between coffee affordability
(measured as the share of daily income required to purchase one cup)
and average monthly net salary across cities.

![Coffee affordability vs income](figures/income_vs_coffee.png)

Higher-income cities tend to exhibit substantially lower coffee
affordability burdens, indicating that income differences dominate
absolute coffee price effects.

## Coffee affordability and relative price context

To control for general cost-of-living differences, coffee prices are
normalized by a city-level price index constructed from restaurant and
market prices. The figure below relates income-based coffee affordability
to this relative coffee price.

![Affordability vs relative coffee price](figures/relative_price_vs_affordability.png)

Even after normalizing coffee prices by the local price environment,
large differences in affordability persist, highlighting the dominant
role of income levels across cities.

## Coffee Survival Index and income

The Coffee Survival Index measures how many days a fixed monthly coffee
budget can sustain one cup of coffee per day. The figure below relates
this index to average monthly net salary across cities.

![Coffee survival vs income](figures/survival_vs_income.png)

Although higher-income cities tend to have fewer survival days due to
higher absolute coffee prices, income-based affordability metrics show
the opposite pattern, emphasizing the difference between absolute and
relative cost perspectives.

## Top cities for students â€” visual comparison

The following figure summarizes the ranking of cities according to the
composite student score, highlighting the most coffee-friendly cities
for students.

![Top cities student score](figures/student_best_cities.png)

Lower scores indicate a more favorable balance between income,
coffee prices, and local consumption costs.

## Country-level overview of coffee affordability

To provide a geographic perspective, city-level coffee affordability
is aggregated at the country level. This highlights regional patterns
in coffee affordability while avoiding the use of advanced geospatial
tools.

![Country-level coffee affordability](figures/affordability_by_country.png)

Country-level averages reveal systematic differences across regions,
with higher-income countries generally exhibiting lower coffee
affordability burdens.

## Conclusions

- Coffee affordability differs substantially across cities and is
  primarily driven by income differences rather than coffee prices alone.
- Normalizing coffee prices by local price levels provides important
  context but does not eliminate affordability disparities.
- From a student perspective, absolute coffee prices determine how long
  a fixed budget lasts, while income determines the relative burden.
- A small number of cities consistently perform well across multiple
  affordability dimensions, making them particularly attractive for
  coffee-consuming students.

## Limitations

- The analysis is based on a cross-sectional snapshot of prices and
  incomes and does not capture changes over time.
- City coverage is constrained by data availability, and some regions
  are underrepresented.
- The city-level price index is constructed using a simple average of
  restaurant and market prices; alternative weighting schemes may lead
  to different results.